@import "@/app/styles/mixins.scss";

.textareaWrapper {
  display: flex;

  .placeholder {
    margin-right: 5px;
  }

  .textarea {
    @include FontStyle($fw: 500, $fs: 16px, $lh: 17px);
    resize: vertical;
    width: 100%;
    min-height: 100px;
    background: white;
    color: black;

    &:focus {
      outline: none;
    }
  }
}
