@import "@/app/styles/mixins.scss";

.button {
  @include FontStyle($fw: 600, $fs: 17px, $lh: 17px);
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-family: inherit;
  border: 0;
  border-radius: 5px;
  background: transparent;
  color: #f7f7f7;
  cursor: pointer;
  outline: none;
  transition-property: background;
  transition-duration: 0.35s;

  &:hover {
    background: #486cbb;
  }
}

.primary {
  background: #4a7dff;
}

.disabled {
  background: #2a2a3b;
  cursor: auto;
  opacity: 0.7;

  &:hover {
    background: #2a2a3b;
  }
}
